data/
docker/generic_docker_command_list
figures/.ipynb_checkpoints
figures/*.pdf
figures/*.tif
python/.ipynb_checkpoints
python/figure_notebooks/.ipynb_checkpoints
python/helper_notebooks/.ipynb_checkpoints
python/helper_scripts/.ipynb_checkpoints
zenodo/
